:root {
    --unvisited: #CCCCCC;                             /* Store status colors as variables       */
    --visited: green;                               /* so they can be easily manipulated      */
    --obstacle: #222222;
    --start: blue;
    --end: red;
    --path: yellow;
}

body {
    margin: 0;
}

.map-container {
    width: 1000px;
    height: 1000px;
    margin: 0px;
    padding: 0;
    outline: solid 1px black;
    background-color: midnightblue;
    line-height: 0;
}

.vis-node {
    width: 100px;                                   /* Set width/height to 10px for 100x100  */
    height: 100px;                                  /* 20px for 50x50, 100px for 10x10       */
    outline: solid 1px black;
    background-color: var(--unvisited);
    display: inline-block;
    position: top;
    margin: 0;
    transition: background-color 0ms;
}

.test {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: blue;
}

#test {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: blue;
}