:root {
    --unvisited: #CCCCCC;                           /* Store status colors as variables       */
    --visited2: #00AA22;                            /* so they can be easily manipulated      */
    --visited1: #00CCFF;
    --obstacle: #222222;
    --start: #2F2FFF;
    --end: red;
    --path1: #CC00FF;
    --path2: #FFFF00;
    --unsolvable: orange;
    --nodeSize: 20px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    width: 1000px;
    height: 1000px;
    padding: 15px;
    border-radius: 15px;
    background-color: #DDDDDD;
    line-height: 0;
    margin: 10px auto;
}

.vis-node {
    width: var(--nodeSize);                                   /* Set width/height to 10px for 100x100  */
    height: var(--nodeSize);                                  /* 20px for 50x50, 100px for 10x10       */
    outline: solid 3px #DDDDDD;                  /* 200px for 5x5                         */
    background-color: var(--unvisited);
    display: inline-block;
    position: top;
    margin: auto;
    color: black;
    font: helvetica;
    font-size: 20pt;
}

.controls {
    width: 1000px;
    margin: 10px auto;
}

input {
    font-size: 100pt;
}