:root {
    --unvisited: #CCCCCC;                           /* Store status colors as variables       */
    --visited: green;                               /* so they can be easily manipulated      */
    --obstacle: #222222;
    --start: blue;
    --end: red;
    --path: purple;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    width: 1000px;
    height: 1000px;
    padding: 15px;
    border-radius: 20px;
    background-color: #DDDDDD;
    line-height: 0;
    margin: 10px auto;
}

.vis-node {
    width: 20px;                                   /* Set width/height to 10px for 100x100  */
    height: 20px;                                  /* 20px for 50x50, 100px for 10x10       */
    outline: solid 3px #DDDDDD;                   /* 200px for 5x5                         */
    background-color: var(--unvisited);
    display: inline-block;
    position: top;
    margin: auto;
    transition: background-color 0ms;
    color: black;
    font: helvetica;
    font-size: 20pt;
}

.button {
    width: 100px;
    height: 40px;
    background-color: crimson;
    display: inline-block;
}

.button .pressed {
    background-color: green;
}